// VARIABLES (Colores & Fuentes)

$blue-dark: #031f3a;
$blue-light: #7eb1f7;
$white: #ffffff;
$font-brand: 'Playfair Display', serif;
$font-main: 'Montserrat', sans-serif;


// ESTILOS GENERALES

body {
    font-family: $font-main;
}

// Header & Navegacion

.header-flex {
    background-color: $blue-dark;
    padding: 5px 0;
    min-height: 65px;
    display: flex;
    align-items: center;

    
        display: flex;
        align-items: center;

        .nav-link {
            color: $white;
            margin: 0 10px;
            transition: color 0.3s ease;

            &:hover {
                color: $blue-light;
            }
        }
    }

.btn-header {
        background-color: $blue-light;
        color: $blue-dark;
        font-weight: bold;
        padding: 8px 20px;
        border-radius: 5px;
        text-decoration: none;
        transition: all 0.3s ease;
        
        &:hover {
            background-color: $white;
            color: $blue-dark;
        }
    }



// BRANDING (DigitalMensa)

#DM {
    .brand-text {
        font-family: $font-brand;
        font-size: 1.7rem;
        margin: 0;
        color: $white;
        display: flex;
        align-items: center;

        span {
            color: $blue-light;
            font-weight: 900;
            margin-left: 6px;
        }
    }
}


// Componentes de Main & Footer

.btn-custom {
    background-color: $blue-light;
    color: $blue-dark;
    border: none;
    
}

// Estilos Cards Portafolio
.project-card {
    transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
    
    &:hover {
        transform: scale(1.02); 
        box-shadow: 0 15px 30px rgba(0, 0, 0, 0.15);
        
        .card-title {
            color: $blue-light;
        }
    }

    img {
        transition: opacity 0.3s ease;
        &:hover {
            opacity: 0.9;
        }
    }
}