.header-flex {
    background-color: $color-primario;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;

    .brand h1 {
        color: white;
        margin: 0;
        span {
            color: $color-acento;
        }
    }

    .nav-links {
        list-style: none;
        display: flex;
        gap: 20px;
        margin: 0;

        a {
            color: white;
            text-decoration: none;
            &:hover {
                color: $color-acento;
            }
        }
    }
}