// Colores principales de DigitalMensa
$color-primario: #031f3a;
$color-acento: #00e5ff;
$color-fondo: #f8f9fa;
$color-texto: #333333;

// Tipografías
$font-main: 'Montserrat', sans-serif;
$font-titles: 'Playfair Display', serif;